body {
	margin: 0%;
	background: #203030;
	font: 16pt metrophobic;
	color: #fff;
}

h1, h2 {
	color: rgba( 70, 70, 255, 1 );
}

a {
	color: rgba( 255, 230, 20, 1 );
}

#top, #foot, #algo{
	padding: 2%;
	background-color: #2011;
}

#top {
	margin: 2%;
	text-align: center;
}

#foot {
	margin-top: 2%;
	text-align: center;
}

#foot ul {
	list-style: none;
}

#algo {
	margin: 4%;
}
